@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 113 30% 95%;
    --foreground: 113 5% 10%;
    --card: 113 30% 90%;
    --card-foreground: 113 5% 15%;
    --popover: 113 30% 95%;
    --popover-foreground: 113 95% 10%;
    --primary: 113 35% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 113 30% 76%;
    --secondary-foreground: 0 0% 0%;
    --muted: 75 30% 85%;
    --muted-foreground: 113 5% 40%;
    --accent: 75 30% 80%;
    --accent-foreground: 113 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 113 5% 90%;
    --border: 113 30% 76%;
    --input: 113 30% 50%;
    --ring: 113 35% 41%;
    --radius: 0.75rem;
  }
  .dark  {
    --background: 113 30% 10%;
    --foreground: 113 5% 90%;
    --card: 113 30% 10%;
    --card-foreground: 113 5% 90%;
    --popover: 113 30% 5%;
    --popover-foreground: 113 5% 90%;
    --primary: 113 35% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 113 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 75 30% 25%;
    --muted-foreground: 113 5% 65%;
    --accent: 75 30% 25%;
    --accent-foreground: 113 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 113 5% 90%;
    --border: 113 30% 50%;
    --input: 113 30% 50%;
    --ring: 113 35% 41%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes top-down {
  from {
    opacity: 0;
    transform: translateY(max(-15%, -0.5rem));
  }
}

.animation-top-down {
  animation: top-down 0.2s ease-out;
}
